$base-text: #000;
$body-bg: #fefefe;

// b-header
$header-bg: #95b250;
$nav-link: #fff;
$nav-link-active: #fdeb39;

// b-scarfs
$card-text: #fff;
$scarf-blue: #3c9fbb;
$scarf-green: #a1ba65;
$scarf-green-bg: #314d02;
$scarf-purple-bg: #372e70;
$scarf-red-bg: #922314;
$scarf-crimson-bg: #80223a;
$scarf-gold-bg: #524300;

// b-constructor
$box-shadow: #d8d9d9;
$color-red: #ec5b3e;
$color-crimson: #ce475d;
$color-gold: #f4a321;
$color-blue: #0095b5;
$color-green: #007f8d;
$color-purple: #6878bc;
$color-swamp: #b7af4c;
$patterns-color: #b7b7b7;
$patterns-current: #ec5b3e;

